@model GameExampleMVC.Models.PlacePiecesViewModel

@{
	ViewBag.Title = "Place Pieces";
}

@using (Html.BeginForm())
{
	@Html.HiddenFor(m => m.GameId)
	for (int i = 0; i < Model.Pieces.Count; i++)
	{
		<h2>Piece @i</h2>
		//TODO find an HTML way to do this
		<div>
			X: @Html.EditorFor(m => m.Pieces[i].X)
			Y: @Html.EditorFor(m => m.Pieces[i].Y)
		</div>
	}
	@Html.ValidationSummary()
	<input type="submit" value="Place Pieces"/>
}